ul.list-inline {
    align-content: center;
   
  }
  ul.list-group{
      align-content: center;
      
      align-items: center;

  }
  p3{
      align-items: center;
  }
  button {

    margin-left :5px }